TZ=America/Argentina/Buenos_Aires
PUID=1000
PGID=1000
UMASK=002

# Shared Web credentials for *arr services.
SERVARR_USER=servarr
SERVARR_PASS=change-me-too
SERVARR_UI_LANGUAGE=es_MX

TRANSMISSION_USER=transmission
TRANSMISSION_PASS=change-me
TRANSMISSION_WEB_PORT=9091
TRANSMISSION_PEER_PORT=51413

PROWLARR_WEB_PORT=9696
SONARR_WEB_PORT=8989
RADARR_WEB_PORT=7878
BAZARR_WEB_PORT=6767
